numpy
pandas
six
h5py
matplotlib
uncertainties
lxml
scipy
cython
vtk
pytest
codecov
pytest-cov
pylint
tables
setuptools
prettytable
sphinxcontrib_bibtex
numpydoc
nbconvert
nose
pyside2
flask
neutronics_material_maker
